.form__container{
    padding: 32px 126px;
    background: var(--font-color2);
}
.form__title{
    text-align: right;
    width: 50%;
    margin-left: auto;
    color: var(--font-color1);
}
.form__hr{
    height: 3px;
    width: 330px;
    background: var(--font-color1);
    margin: 32px 0 0  auto;
    opacity: 1;
}
.form__label{
    font-weight: 900;
    color: var(--font-color1);
    margin: 15px 0 9px 0;
}
.form div:nth-of-type(1) label{
    margin: 0 0 9px 0;
} 
.form-control::placeholder{
    opacity: 0.4;
}
.check__label{
    font-size: 1rem;
}
.form__btn{
    margin: 20px 0 80px 42%;
}